/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */




html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
}

#header {
  height: 100%;
  text-align: left;
}


.navbar {
  padding: 0 !important;
  /* height: 60px; */
  /* background-color: blue; */
  text-align: center;
}

.footer {
  height: 60px;

}

nav.footer {
  &.footer span {
    /* display: flex;
    align-items: center; */
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  &.footer div {
    height: 100%;
    padding: 0;
  }
}

* {
  z-index: 1;
}

.body-main {
  z-index: -2;
  padding-bottom: 80px !important;
}

#body-background {
  /* // position: absolute; */
  position: absolute;
  width: 100%;
  /* // min-height: 100vh; */
  height: 100vh;
  top: 70px;
  z-index: 0;
}

/* 表示・非表示ボタン */
.hide-button {
  &:hover {
    background-color: rgb(93, 160, 255) !important;
    transition-delay: 0.1s;
  }
}

/* カラーバー */
.color-bars {
  z-index: 1;
}

.color-space-name {
  /* // font-size: large !important; */
  margin-left: 4px;
  font-weight: bold;
}

form {
  z-index: 2;
}

.col-color-range {
  padding-top: 28px !important;
}

.color-range {
  position: relative;
  /* top: 28px; */

  div.label {
    /* border: solid; */
    content: "";
    /* display: inline-block; */

    /* &.r {
      background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 0, 0));
    }
    &.g {
      background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 255, 0));
    }
    &.b {
      background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 0, 255));
    } */
  }

  .form-range {
    position: absolute;
    /* z-index: 99; */
    top: 10px;
  }
}

div.color-change {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.can-select {
  border-style: dashed;
  border-color: lightgray;


  &:hover {
    cursor: pointer;
    border: solid;
    border-color: gray;
  }

}

.can-click {
  cursor: pointer;
}

.button-card {
  width: 28px;
}



.sample-color {
  cursor: grab;
}

/* .form-control.hsv {
  background-color: hsl(164deg, 37%, 90%);
} */

div.sample-color {
  /* position: static; */
}

.sample-color-row {
  /* position: relative;
  z-index: 1;
  height: 100%; */
  /* width: 100%; */
  input {
    /* background-color: red; */
    /* border-right: none; */
  }

  button {
    /* border-left: none; */
    width: 80px;
  }
}

.sample-color {
  .col {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .color-count-button {
    text-align: left;

    button {
      width: 100%;
    }

    .color-count-button-plus, .color-count-button-minus {
      border-top-right-radius: 0% !important;
      border-bottom-right-radius: 0% !important;
      /* border-right: none; */
    }

    /* .color-count-button-minus {
      border-radius: 0% !important;
    } */
  }

  .color-value {
    position: relative;

    .color-sample {
      .form-control {
        border-radius: 0% !important;
      }
    }

    input {
      /* border-top-left-radius: 0% !important;
      border-bottom-left-radius: 0% !important; */
    }




    button {
      position: absolute;
      right: 0%;
      top: 0%;
      height: 100%;
      width: 15%;

      padding: 0;
      border: none;
      /* border-top-right-radius: 0% !important;
      border-bottom-right-radius: 0% !important; */
      border-radius: 0% !important;
    }
  }

  button {
    /* height: 100%; */
  }
}



.color-value.rgb, .color-value.hex  {
  input {
    border-radius: 0% !important;
  }
}

.color-value.hsl  {
  input {
    border-top-left-radius: 0% !important;
    border-bottom-left-radius: 0% !important;
  }
}
