/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#header {
  text-align: left;
}

.color-range {
  position: relative;
  top: 28px;

  .label {
    /* border: solid; */
    content: "";
    display: inline-block;

    &.r {
      background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 0, 0));
    }
    &.g {
      background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 255, 0));
    }
    &.b {
      background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 0, 255));
    }
  }

  .form-range {
    position: absolute;
    z-index: 99;
    top: 10px;
  }
}

.navbar {
  padding: 0 !important;
  height: 60px;
  /* background-color: blue; */
  text-align: center;
}

div.color-change {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.can-select {
  border-style: dashed;
  border-color: lightgray;


  &:hover {
    cursor: pointer;
    border: solid;
    border-color: gray;
  }

}

.can-click {
  cursor: pointer;
}

.button-card {
  width: 28px;
}

nav.footer {
  &.footer span {
    /* display: flex;
    align-items: center; */
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  &.footer div {
    height: 100%;
    padding: 0;
  }
}

.sample-color {
  cursor: grab;
}

/* .form-control.hsv {
  background-color: hsl(164deg, 37%, 90%);
} */

div.sample-color {
  /* position: static; */
}

.sample-color-row {
  /* position: relative;
  z-index: 1;
  height: 100%; */
  /* width: 100%; */
  input {
    /* background-color: red; */
    /* border-right: none; */
  }

  button {
    /* border-left: none; */
    width: 80px;
  }
}

